.default-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
  max-width: 500px;
  margin: 0 auto;
  color: black;
  min-width: 100px;
  min-height: 100px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
