.default-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
  max-width: 500px;
  margin: 0 auto;
  color: black;
  min-width: 100px;
  min-height: 100px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.default-modal-close-btn{
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: grey;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  cursor: pointer;
  padding: 0.2em;
}

.default-modal-close-btn:hover{
  color: black;
  transform: rotate(-90deg);
}

.rmp-reduce-animation{
  animation: none !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    margin-top: 60px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    margin-top: -60px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    scale: 0.5;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}